<?xml version="1.0" encoding="utf-8"?>

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jakewharton.wakkawallpaper"
	android:versionCode="@integer/version_code"
	android:versionName="@string/version_name">
    
    <application
        android:label="@string/title"
        android:icon="@drawable/icon">

        <service
            android:label="@string/title"
            android:name=".Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            
            <meta-data
            	android:name="android.service.wallpaper"
            	android:resource="@xml/wallpaper" />
        </service>
        
        <activity
            android:label="@string/title"
            android:name=".Preferences"
            android:theme="@android:style/Theme.WallpaperSettings"
            android:exported="true">
        </activity>
    </application>
    
    <uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" />
</manifest>